
     <!--Section: Design Block-->
  <section>
    
      <div class="mask" style="background-color: olivedrab;">
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
              <h1 class="mb-0 text-white display-1">Digital Books</h1>
            </div>
          </div>
        </div>
      </div>
   
  </section>
  <!--Section: Design Block-->
   
   <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         
          <div class="dropdown">
            <div class="navbar-brand">SignUp</div>
            <div class="dropdown-content">
          
            <a  href="#" routerLink="/login">Login</a>
           
            </div>
          </div>

          <div class="dropdown">
            <div class="navbar-brand">Author</div>
            <div class="dropdown-content">
            <a  href="#" routerLink="/authorOnly">Add-Author</a>
            <a   href="#" routerLink="/addbooks">AddBooks</a>
              
            <a   href="#" routerLink="/updateTest">Update Test</a>
           
            </div>
          </div>

        

       
          <div class="dropdown">
            <div class="navbar-brand">Reader</div>
            <div class="dropdown-content">
            <a  href="#" routerLink="/search">Search Books</a>
            <a   href="#" routerLink="/buybook">Buy Books</a>
            <a  href="#" routerLink="/purchasedBooks">Your Books</a>
            <a  href="#" routerLink="/readBook">Read Purchased Book</a>
            <a   href="#" routerLink="/payId">Search Books (PayId)</a>
            <a  href="#" routerLink="/refund">Claim Refund</a>
            
            </div>
          </div>
   
        <br>
          


          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about">ABOUT US</a>
          </li>
    
        </ul>
        
      </div>
    </div>
  </nav> 






