
  


  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
           <th>Id</th>
          <th>Logo</th>
          <th>Title</th>
          <th>Category</th>
          <th>authorName</th>
          <th>price</th>
          <th>publishedDate</th>
          <th>publisherName</th>
          <th>active</th>
            <th>edit</th>
          
       
        
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let b of booksArray">
          
           <td>{{b.bid}}</td> 
          <td>{{b.logo}}</td>
          <td>{{b.title}}</td>
          <td>{{b.category}}</td>
          <td>{{b.authorName}}</td>
          <td>{{b.price}}</td>
          <td>{{b.publishedDate}}</td>
          <td>{{b.publisherName}}</td>
          <td>{{b.active}}</td>
       
     
          <td><button type="button" class="btn btn-success" (click)="updatebook(b,b.bid)" >Edit</button></td>

          </tr>
        
      </tbody>
    </table>
  </div>

   <div class="col">
 
    <label>Id</label>
     <div class="col">
      <input type="number" class="form-control" [(ngModel)] = book.bid placeholder="bid" aria-label="bid">
    </div>  
<br>
<label>Logo</label>
<div class="col">
  <input type="text" class="form-control" [(ngModel)] = book.logo placeholder="logo" aria-label="logo">
</div> 
<br>
<label>Title</label>
<div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.title placeholder="title" aria-label="title">
  </div> 
<br>
<label>Category</label>
  <div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.category placeholder="category" aria-label="category">
  </div> 
<br>
<label>Publisher Name</label>
  <div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.publisherName placeholder="publisher_name" aria-label="publisherName">
  </div> 


<br>  

<label>Chapters</label>
  <div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.chapters placeholder="chapters" aria-label="chapters">
  </div> 
<br>
<label>Active</label>

  <div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.active placeholder="active" aria-label="active">
  </div> 
<br>
<label>Author Name</label>
  <div class="col">
    <input type="text" class="form-control" [(ngModel)] = book.authorName placeholder="authorName" aria-label="authorName">
  </div> 
<br>
<label>Price</label>
  <div class="col">
    <input type="number" class="form-control" [(ngModel)] = book.price placeholder="price" aria-label="price">
  </div> 


<br>

<button type="button" class="btn btn-success" (click)="update(book)">Success</button>


