<div>

    <h2 style="color: blue;">DIGITALBOOK MANAGEMENT</h2>
    <p style="text-align: center;">
        We work to connect readers with independent booksellers all over the world. 
        We believe local bookstores are essential community hubs that foster culture,
         curiosity, and a love of reading, and we're committed to helping them survive and thrive.
         Our platform gives independent bookstores tools to compete online and 
        financial support to help them maintain their presence in local communities.
    </p>
</div>
